.toolbar {
    background-color: #1877F2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 10vh;
    width: 100vw;

    &.header {
        font-size: xxx-large;
        font-weight: 700;
    }

    &.footer {
        font-size: smaller;
        font-weight: 400;
    }
}