.card {
  display: flex;
  flex-direction: row;

  font-size: large;
  margin: 20px 0;

  p {
    &:first-child {
      margin-top: 10px;
    }
    margin-bottom: 10px;
    text-align: center;

    &.year {
      font-size: small;
    }
  }

  .body {
    text-shadow: #6C757D 1px 0 10px;
    background-color: #23272f;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px 20px 0 0;

    @media (max-width: 767px) {
      width: 90vw;
    }

    .img-container {
      display: block;
      background-size: contain;
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        margin-bottom: 4vw;
      }
    }

    .img {
      width: 90%;
      margin-bottom: 5%;
      @media (max-width: 767px) {
        width: 80vw;
      }
    }
  }
}
