p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: row;

  font-size: large;
  margin: 20px 0;

  p {
    &:first-child {
      margin-top: 10px;
    }
    margin-bottom: 10px;
  }

  .body {
    background-color: #23272f;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px 20px 0 0;

    @media (max-width: 767px) {
      width: 90vw;
    }

    .img-container {
      display: block;
      background-size: contain;
    }

    .img {
      @media (max-width: 767px) {
        width: 90vw;
      }
    }
  }
}
